.Photography{
    animation-name: fly;
    animation-duration: 0.5s;
}
@keyframes fly {
    from{
        transform: translateY(150%);
        opacity: 0;
    }
}
.content_all{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px; */
    column-width: 25rem;
}
.notp h1{
    margin-top: 8rem;
}
.post{
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.img_item{
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
}
/* zoom image */
.overlay{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    transition: all ease-in-out .3s;
    background-color: rgba(0, 0, 0, 0.9);
}
.img--zoom{
    position: fixed;
    left: 50%;
    top:0;
    transform: translateX(-50%);
    display: none;
    transition: all ease-in-out .3s;
    height: 100%;
    width: max-content;
}
.picture{
    height: 100%;
    width: auto;
}
@media (max-width:767px){
    .content_all{
        column-width: 15rem;
    }
    .img--zoom{
        top:10%;
        width: 100%;
        height: auto;
    }
    .picture{
        height: auto;
        width: 100%;
    }
    .notp h1{
        margin-top: 2rem;
    }
}