*{
    box-sizing: inherit;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    /* HACK size 1rem =10px */
    font-size: 62.5%;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
}
.font-script{
    font-family: 'Qwigley', cursive;
    font-weight: bold;
}
:root{
    --main-color: #3dc304;
    --transition-global: all ease-in-out .25s;
}
.button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.2rem;
    color: black;
    border: var(--main-color) 3px solid;
    text-decoration: none;
    border-radius: 20px;
    transition: var(--transition-global);
}
.button:hover{
    background: linear-gradient(45deg,#70e000 ,#3ebf02,#39b002, #058a05);
    color: white;
    /* border-color: white; */
}
